.brand a {
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.brand a h1 {
    font-size: 2.4rem;
    color: #53ab38;
}

.brand img {
    width: 130px;
    margin-right: 10px;
}

nav ul a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 2.5rem;
    color: #53ab38;
}

.image-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #53ab38;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logout-btn {
    width: 75px;
    height: 40px;
    margin-left: 40px;
}

nav a.active {
    color: #4d7e3d;
    font-weight: bold;
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {
    .brand a h1 {
        font-size: 60px;
        text-align: center;
    }

    nav {
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }

    nav ul {
        margin-top: 30px;
    }

    nav ul a {
        font-size: 2rem;
        display: block;
    }

    .logout-btn {
        width: 80px;
        height: 40px;
        margin-left: 0;
    }

    .right-side {
        flex-direction: column;
        margin-top: 20px;
    }

    .image-container {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        margin-left: 0;
    }
}