.carousel-item {
    position: relative;
    border-radius: 10px;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    /* Adjust the opacity as desired */
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.carousel-caption h3,
.carousel-caption p {
    text-align: left;
    width: 60%;
}

.carousel-caption button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #65a543;
    color: #fff;
}

.explore {
    text-align: left;
}

.name {
    font-size: 3.3rem;
    font-weight: 500;
    color: #6cd036;
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {

    .carousel-caption h3,
    .carousel-caption p {
        text-align: center;
        width: 75%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .carousel-caption {
        position: absolute;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
    }    
    .explore {
        text-align: center;
        margin-right: 100px;
    }
}